/*paleta de cores 
    #666CE2 - Azul violeta claro
    #5684C0 - Azul médio
    #6AA1EB - Azul céu claro
    #476D9E - Azul marinho médio
    #38557C - Azul marinho escuro
    #293E5A - Azul marinho muito escuro
*/

:root {
    --cor1: #666CE2;
    --cor2: #5684C0;
    --cor3: #6AA1EB;
    --cor4: #476D9E;
    --cor5: #38557C;
    --cor6: #293E5A;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--cor6);
    font-family: Arial, sans-serif;
    
    min-height: 100vh;
    margin: 0;
}


.calculadora {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    
    background-color: var(--cor1);
    
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 20px;
}


#resultado {
    grid-column: span 4;
    width: 100%;
    padding: 10px;
    font-size: 2em;
    text-align: right;
    border: none;
    border-radius: 5px;
    background-color: #f8f8f2;
    margin-bottom: 10px;
    box-sizing: border-box;
}


.botoes {
    display: contents;
}


.btn {
    background-color: var(--cor3);
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.2s ease;
}


.btn:hover {
    background-color: rgba(106, 161, 235, 0.674);
}


.btn.clear {
    background-color: var(--cor3);
    grid-column: span 2;
}


.btn.clear:hover {
    background-color: rgba(106, 161, 235, 0.674);
}


.btn.operacao {
    background-color: var(--cor5);
}


.btn.operacao:hover {
    background-color: rgba(56, 85, 124, 0.674);
}


.btn.igual {
    background-color: var(--cor5);
    grid-column: span 2;
}


.btn.igual:hover {
    background-color: rgba(56, 85, 124, 0.674);
}
