main {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: auto;
    height: 410px;
    width: 300px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: translateX(0) translateY(100px);

}


h1 {
    margin-bottom: 10px;
    padding: 0;
    font-weight: 600;
    font-size: 30px;
}


p {
    font-size: 1.2rem;
    margin-bottom: 10px;
    padding: 0;
}


.imagem-perfil {
    margin: 20px;
    height: 200px;
    width: 160px;
    border: 1px transparent solid;
    border-radius: 500px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


a {
    text-decoration: none;
    color: transparent;
    width: auto;
    height: auto;
}


a > img {
    display: inline;
    height: 30px;
    width: 30px;
    margin: 10px;
}
